* {
  padding: 0;
  margin: 0;
}

#rotateZone {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

#joystickZone {
  z-index: 100;
  position: absolute;
  bottom: 20%;
  left: 5%;
  width: 100px;
  height: 100px;
}

.front {
  opacity: 1 !important;
}

.back {
  border: 1px solid rgb(37, 37, 37) !important;
}

#mobileControls {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
#swingButton {
  position: absolute;
  bottom: 20%;
  right: 5%;
  height: 75px;
  width: 75px;
  border-radius: 100%;
  border: 1px solid rgb(37, 37, 37);
  background-color: white;
  z-index: 100;
}

#swingButton img {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
}

#hpContainer {
  background-color: rgb(51, 51, 51);
  border: 2px solid rgb(37, 37, 37);
  border-radius: 5px;
  position: absolute;
  width: 20vw;
  height: 1.5vw;
  top: 1vw;
  left: 1vw;
}
#hp {
  background-color: green;
  border-radius: 5px;
  height: 100%;
}
#currentHP {
  position: absolute;
  top: 0.25vw;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: Garamond, serif;
  font-size: 1vw;
  color: white;
  text-shadow: 1px 1px 2px black;
}

#fullscreenButton {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 15px;
  right: 15px;
  z-index: 100;
}

#playerNameInput {
  position: block;
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 5px;
}

#startGameButton {
  position: block;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
}
#startGameButton:hover {
  background-color: #e0e0e0;
}

#startScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
  color: white;
  text-shadow: -1px -1px 0 rgb(50, 50, 50), 1px -1px 0 rgb(50, 50, 50),
    -1px 1px 0 rgb(50, 50, 50), 1px 1px 0 rgb(50, 50, 50);
}

#inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#rotateScreenIcon {
  display: none;
  position: absolute;
  top: 20%;
  left: 40%;
  height: 10%;
  z-index: 100;
  color: white;
}
