* {
  padding: 0;
  margin: 0;
}

#rotateZone {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

#joystickZone {
  z-index: 100;
  position: absolute;
  bottom: 15%;
  left: 5%;
  width: 100px;
  height: 100px;
}

.front {
  opacity: 1 !important;
}

.back {
  border: 1px solid rgb(37, 37, 37) !important;
}

#swingButton {
  display: none; /* This will override the JavaScript */
  position: absolute;
  bottom: 15%;
  right: 5%;
  height: 75px;
  width: 75px;
  border-radius: 100%;
  border: 1px solid rgb(37, 37, 37);
  background-color: white;
  z-index: 100;
}

#swingButton img {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
}

#hpContainer {
  background-color: rgb(51, 51, 51);
  border: 2px solid rgb(37, 37, 37);
  border-radius: 5px;
  position: absolute;
  width: 20vw;
  height: 1.5vw;
  top: 1vw;
  left: 1vw;
}
#hp {
  background-color: green;
  border-radius: 5px;
  height: 100%;
}
#currentHP {
  position: absolute;
  top: 0.25vw;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: Garamond, serif;
  font-size: 1vw;
  color: white;
  text-shadow: 1px 1px 2px black;
}

#fullscreenButton {
  display: none;
  position: absolute;
  bottom: 0%;
  right: 0%;
  height: 8%;
  z-index: 100;
}
